<footer class="site-footer">

  <div class=" text-center">
    <div class="col-md-12">

      <p>
         All rights reserved | This application is made by RAMTANI MOHAMMED MOUNIR
      </p>

    </div>
  </div>


</footer>

</div>
<script src="js/client.js"></script>
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.countdown.min.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script src="js/aos.js"></script>
<script src="js/jquery.fancybox.min.js"></script>
<script src="js/jquery.sticky.js"></script>
<script src="js/isotope.pkgd.min.js"></script>


<script src="js/main.js"></script>

</body>

</html>
