
<%-include("header")-%>


<div class="site-blocks-cover overlay" style="background-image: url(images/hero_2.jpg);" data-aos="fade" id="home-section">

  <div class="container">
    <div class="row align-items-center justify-content-center">


      <div class="col-md-8 mt-lg-5 text-center">
          <h1 class="text-uppercase" data-aos="fade-up">Cryptographie Moderne</h1>
      </div>
    </div>
  </div>

  <a href="#services" class="mouse smoothscroll">
    <span class="mouse-icon">
      <span class="mouse-wheel"></span>
    </span>
  </a>
</div>



 <!-- .site-wrap -->
<%-include("footer")-%>
